@model IEnumerable<EM.Core.Models.Dto.CouponDto>
@{
    ViewData["Title"] = "GetCoupons";
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>Coupon Code</th>
            <th>Discount Amount</th>
            <th>Min Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 0;
        }
        @foreach (var item in Model)
        {
            index++;
            <tr>
                <td>@index</td>
                <input type="hidden" value=@item.CouponId>
                <td>@item.CouponCode</td>
                <td>@item.DiscountAmount</td>
                <td>@item.MinAmount</td>
                <td>
                    <button class="btn btn-success" onclick="editCoupon(@item.CouponId)"><i class="bi bi-pencil-square"></i></button>
                    <button class="btn btn-danger" onclick="deleteCoupon(@item.CouponId)"><i class="bi bi-trash3"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>